# Ignore Python cache and venv
__pycache__/
.venv/
*.pyc

# Ignore local/model/data artifacts
*.db
*.index
*.sqlite
*.pkl
*.bin
*.lib
*.dll
*.so
*.pyd
*.pt
.cache/
node_modules/
indexes/
discourse.index
markdown.index
*.json
